*{
    background-color: black;
}

div {
    display: inline-block;
    width: 200px;
    height: 200px;

}
.RoxoIntenso{
    background-color: #6C3483;
}


.AzulEletrico{
    background-color: #2980B9;
}
.VerdeLima{
    background-color: #27AE60;
}
.AmareloDourado{
    background-color: #F1C40F;
}
#bordabranca{
    border: 1px solid rgb(243, 234, 234);

}